body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coronaImage {
  width: 370px;
  margin-top: 40px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10px;
  }
  .coronaImage {
    width: 75%;
  }
}
